
.login-form {
	width: 340px;
	margin: 50px auto;
}
.login-form form {
	margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

img.sobre{
    width: 50%;
    height: 20%;
}

img.logo{
    width: 10%;
    height: 10%;
}


#image{
     width: 100%;
     height: 100%;
}

img.carta{
    width: 40%;
    height: 40%;
}

h1{
display:inline-block;
}

button{
     margin-left:2%;
}

